/*@import './reset.scss';*/
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: #F8F8F8;
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
